/* Reset styles. */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* border: 1px solid grey; */
  font-family: 'Montserrat', sans-serif;
  color: white;
}

header, footer {
  padding: 5%;
}

section:focus {
  outline: none;
}

nav {
  position: absolute;
  top: 1rem;
  right: 1rem;
}

nav a {
  color: white;
  font-weight: 600;
  font-size: 1.5rem;
  margin: 2rem 1rem 2rem 1rem;
}

nav a:hover, nav a:focus {
  color: rgb(255, 189, 62);
}

h1 {
  font-weight: 900;
  font-size: 4rem;
  padding: 2%;
}

h2 {
  font-weight: 400;
  font-size: 1.8rem;
}

h3 {
  font-weight: 900;
  font-size: 2.4rem;
  padding-top: 2%;
  padding-bottom: 2%;
}

.intro {
  background-image: url("img/gilles-lambert-249996.jpg");
  background-size: cover;
  padding: 25%;
  height: 100vh;
}

.benefits-block {
  padding: 6%;
}

.quote-content {
  font-weight: 500;
  font-size: 1.7rem;
}

.quote-attr {
 font-weight: 500;
 font-size: 1.4rem;
 padding-top: 5%;
}

.title-bg p {
  font-size: 1.6rem;
  font-weight: 600;
}

.title-bg h2 {
  font-weight: 900;
  font-size: 3.2rem;
  padding-top: 2%;
  padding-bottom: 1%;
}

.features p {
    color: white;
    text-align: left;
}

@media(max-width: 768px) {
  h1 {
    font-size: 3rem;
  }

  h2 {
    font-size: 1.5rem;
  }

  h3 {
    font-size: 2.2rem;
  }

  .title-bg h2 {
    font-size: 2.8rem;
  }

  .intro {
    padding: 20%;
    height: 75vh;
  }

  .benefits-block {
    padding-top: 3%;
    padding-bottom: 3%;
  }

  .features p {
      font-size: 0.9rem;
  }

  .quote-content {
    font-size: 1.5rem;
  }

  .quote-attr {
   font-size: 1.2rem;
  }

  .title-bg p {
    font-size: 1.3rem;
  }

  .mobile-small {
    order:4;
  }
}

@media(max-width: 576px) {
  h1 {
    font-size: 2.5rem;
  }

  h2 {
    font-size: 1.1rem;
  }

  h3 {
    font-size: 2rem;
  }

  .title-bg h2 {
    font-size: 2.5rem;
  }

  .intro {
    padding: 10%;
    height: 50vh;
  }

  .features p {
      font-size: 0.8rem;
  }

  .benefits-block {
    padding-top: 3%;
    padding-bottom: 5%;
  }

  .quote-content {
    font-size: 1.2rem;
  }

  .quote-attr {
   font-size: 1rem;
  }

  .title-bg p {
    font-size: 1.1rem;
  }
}

i {
  color: white;
  font-size: 3rem;
}

.centered {
  text-align: center;
  margin: auto;
}

.right-pos {
  text-align: right;
}

.padded {
  padding: 2% 0%;
}

.text-color-1 {
  color: rgb(255, 189, 62);
}

.text-color-2 {
 color: rgb(24, 43, 54);
}

.text-color-3 {
  color: rgb(44, 44, 44)
}

.text-color-4 {
  color: rgb(149, 152, 154)
}

.text-color-5 {
  color: rgb(160, 160, 160)
}

.intro h3 {
  text-weight: 400;
}

.benefits p {
  padding-top: 5%;
  padding-bottom: 5%;
}

.benefits h3,p {
  color: rgb(24, 43, 54);
}

.benefits-img1 {
  background-image: url("img/charles-deluvio-351207.jpg");
  background-size: cover;
  background-position: center;
  min-height: 250px;
}

.benefits-img2 {
  background-image: url("img/rhema-kallianpur-275251.jpg");
  background-size: cover;
  background-position: center;
  min-height: 250px;
}

.features {
  background-color: rgb(24, 43, 54);
  width: 100%;
  padding: 5% 4%;
}

.features h3 {
  padding-bottom: 3%;
}

.features i {
  margin: 10%;
}

.feature-block {
  padding-left: 3%;
  padding-right: 3%;
}

.title-bg {
  background-image: url("img/joanna-kosinska-129039.jpg");
  padding: 10%;
  background-repeat: no-repeat;
  background-size: cover;
}

.quote {
  padding: 10% 5% 10% 5%;
}

.quote-icon {
  font-size: 1rem;
}

.contact-form {
  background-color: rgb(24, 43, 54);
  width: 100%;
  padding: 5%;
}

.contact-form-box {
  padding-left: 10%;
  padding-right: 10%;
}

.contact-form h1 {
  padding-top: 5%;
  padding-bottom: 5%;
}

.contact-form p {
  color: white;
}

input, textarea {
  outline: none;
  border: 1px solid rgb(160, 160, 160);
  border-radius: 5px;
  margin-bottom: 2%;
  padding: 10px;
  width: 100%;
}

input::placeholder, textarea::placeholder {
  color: rgb(160, 160, 160)
}

textarea {
  min-height: 10rem;
  resize: none;
}

.button {
  font-weight: 700;
  color: white;
  background-color: rgb(255, 189, 62);
  border: none;
  text-size: 2rem;
}
